.contenedor-1{
    display: flex;
    flex-direction: column;
    min-height: 10vh; 
    text-align: center;
    background-color: rgba(240, 248, 255, 0.685);
    border-radius: 23px;
    margin: 20px;
    padding: 20px;
    animation: fadeIn 3s ease-out;
    background-image: url("https://static.vecteezy.com/system/resources/previews/025/871/536/non_2x/travel-destination-background-and-template-design-with-travel-destinations-and-famous-landmarks-and-attractions-for-tourism-let-s-go-travel-illustration-vector.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/*enlace*/
.a {
    animation: fadeInLink 2s ease-in-out infinite;  
    background-color: #ffffffb4;
    text-decoration: none;
    text-shadow:  2px 2px 4px #000000a2;
   
}
@keyframes fadeInLink{
    0% { color: #00008B; opacity: 1; }
    50% { color: #1E90FF; opacity: 1; }
    100% { color: #00008B; opacity: 1; }
    50% { color: #1E90FF; opacity: 1; }
    0% { color: #00008B; opacity: 1; }
}

.p {
    font-family: 'newspaper', sans-serif;
    font-style: italic;
    text-shadow:  2px 2px 4px #000000a2;
}

footer {
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center; 
    padding: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
.menu-2 {
    background-color:rgba(255, 255, 255, 0.578);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px; 
    border-radius: 10px;
}
.footer-1{
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center; 
    padding: 10px;
    position: sticky; /* Se pega a la parte inferior */
    bottom: 0; /* Se pega a la parte inferior */
    margin-top: 190px; /* Empuja el footer hacia la parte inferior */
}

.footer-content-1 {
    max-width: 1200px;
    margin: 0 auto;
}
